<h1>Create New Question</h1>

<form action="/tests/<%=params['test_id']%>/questions" method="post">
<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
  <div class="form-group">
    <label for="question-title">Question</label>
    <input type="text" name="question[title]" id="question-title" class="form-control" placeholder="Question">
  </div>
  <button type="submit" class="btn btn-primary" value="Create">Submit</button>
</form>
