<div class="card text-center">
  <div class="card-header">
    <%= question_header @question %>
  </div>

  <div class="card-body">
    <%= render 'form' %>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light">
      <%= link_to "Back to questions", test_path(@test) %>
    </button>
  </div>
</div>
