<h1>The <%= @test_passage.test.title %> Test was completed</h1>

<div>
  <p> Correct questions: 
    <%= write_success(@test_passage) %>
  </p>
</div>

<button type="button" class="btn btn-light">
  <%= link_to 'Tests', tests_path %>
</button>