<% flash.each do |key, message| %>
  <% if message.is_a?(Array) %>
    <% mes, link = message %>
    <p class=<%= "flash #{key}" %>><%= mes %> <a href=<%=link%> target="_blank">Gist</a></p>
  <% else %>
    <%= content_tag :p, message, class: "flash #{key}" %>
  <% end %>
<% end %>