<div class="card text-center">
  <div class="card-header">
  New Test
  </div>

  <div class="card-body">
    <%= render 'form' %>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Back", admin_tests_path, class: "btn btn-light" %>
  </div>
</div>