<div class="container m-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Level</th>
        <th scope="col">Quantity questions</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= test.level %></td>
        <td><%= question_quantity test %></td>
        <td><%= button_to 'Start', start_test_path(test), class: "btn btn-light" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>