<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Test questions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @test %>    
  </tbody>
</table>
<%= button_to "Back to test", tests_path, class: "btn btn-light", method: 'get' %>
