<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Test questions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @test %>    
  </tbody>
</table>
<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to "Back to tests", tests_path, class: "btn btn-light" %>
  <%= link_to "New Question", new_test_question_path(@test), class: "btn btn-light" %>
</div>